.equipment-list{
  list-style: none;
  padding: 0;
  display: grid;
}

.equipment-list li {
  display: grid;
}
.equipment-list tbody {
  width: 100%;
}

.equipment-list tr {
  width: 100%;
    text-align: center;
}

/* AddEquipmentForm.css */
.form-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-error {
  border-color: #ff4444;
}

.error-text {
  color: #ff4444;
  font-size: 0.8rem;
  margin-top: 5px;
}

.image-preview {
  max-width: 200px;
  margin: 10px 0;
}

.image-preview img {
  max-width: 100%;
  border-radius: 4px;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit {
  background-color: #4CAF50;
  color: white;
}

.btn-cancel {
  background-color: #f44336;
  color: white;
}

.loading-message {
  color: #2196F3;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr; /* Una sola columna en móvil */
    padding: 0 5px;
  }
.app-container {
  padding: 5px;
  display: grid;
}
.users-grid {
  padding: 10px;
}
.app {
  padding: 5px;
}

.user-form {
  padding: 15px;
}


.user-actions {
gap: 4px;
}



.delete-button, .edit-button, .details-button {
  padding: 5px 8px;
  font-size: 0.75rem;
  flex-grow: 1;
}


.user-email {
font-size: 0.75rem;
margin: 0.2rem 0;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.user-card {
  overflow: hidden; /* Evita que el contenido se desborde */
  flex-direction: row; /* Cambiamos a fila en móvil */
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
}

.user-avatar {
  width: auto;
  margin-bottom: 0;
}

.user-avatar img {
  width: 50px;
  height: 50px;
  min-width: 50px;
}

.user-info h3 {
  font-size: 0.95rem;
  margin-bottom: 0.3rem;
  min-width: 0; /* Permite que el texto se ajuste */
}


.department {
  font-size: 0.7rem;
}





    
}
