.form-groupE {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  
}

.modal-actionsE {
  display: flex
;
    justify-content: flex-end;
    margin-top: 20px;
    flex-wrap: nowrap;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
}

.form-inputE {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.equipment-modalE {
  position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px); /* Efecto de desenfoque del fondo */
    animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.modal-contentE {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
    background: linear-gradient(135deg, #29062c 0%, #0d0d0d 50%);
    border-radius: 12px;
    width: 100%;
    max-width: 900px;
    
    height: max-content;
    padding: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    transform: scale(0.95);
    animation: scaleUp 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

@keyframes scaleUp {
    to { transform: scale(1); }
}

.modal-headerE {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.modal-headerE h3 {
  margin: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.modal-bodyE {
  flex: 1;
  
  overflow: hidden; /* Necesario para el scroll interno */
  position: relative;
}

.detail-rowE {
  display: flex;
  margin-bottom: 10px;
}

.detail-labelE {
  font-weight: bold;
  width: 150px;
  color: #f1f1f1;
}

.detail-rowE span {
  flex: 1;
  color: #d6d5d5;
}

.modal-footerE {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.edit-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #45a049;
}

.close-btnE {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.close-btnE:hover {
  background-color: #d32f2f;
}

.save-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}

.save-btn :hover {
  background-color: #95f098;
  color: white;
}

.cancel-btn {
  background-color: #f44336;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}